<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="PashuScan"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- The android:name="${applicationName}" usually resolves to io.flutter.app.FlutterApplication
             or a custom Application class if defined in build.gradle.
             IDE might show 'Unresolved class' warning, but Gradle handles this correctly during build. -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is represented by the
                 Activity's parent currently set in AndroidManifest.xml. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


    </application>

    <!-- Permissions required by your app -->

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- Essential for network requests (APIs, Firebase) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- Good practice for checking network connectivity -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" /> -->
    <!-- WRITE_EXTERNAL_STORAGE is generally not needed for API 29+ with image_picker saving to MediaStore -->

    <!-- RECOMMENDED: Declare camera hardware features for Play Store filtering -->
    <!-- 'required="false"' means the app can run on devices without a camera, but will use it if available.
         Change to 'true' if camera is absolutely essential and app is useless without it (e.g., a pure camera app).
         Given "Scan Animal", 'false' is probably appropriate as other features exist. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <!-- END RECOMMENDED -->

    <!-- REQUIRED for url_launcher on Android 11+ (API 30+) to open external links -->
    <queries>
        <!-- If your app opens https URLs (e.g., news articles) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- If your app opens http URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Add other schemes if you intend to open them (e.g., tel, mailto, etc.) -->
        <!-- <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent> -->
    </queries>
</manifest>